<html>
    <head>
        <meta charset="UTF-8">
        <title> Profile </title>
        
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profilestyle.css') }}">
        <link rel="stylesheet" href="static/css/bootstrap.min.css" /> 
                 
    </head>
    <body class="body1">
      <label name="{{msg}}"></label>
          <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="static/images/logo/pexonLogo.png" alt="..." height="36">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <form action="/editprofile" method="POST" enctype="multipart/form-data"></form>
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span><a class="bottom" >  <a class="bottom" href="{{url_for('upload')}}">My Certificates</a> </span></div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Name</label><input name ="firstname" type="text" class="form-control" placeholder="first name" value="{{data['firstname']}}"></div>
                            <div class="col-md-6"><label class="labels">Surname</label><input name ="lastname" type="text" class="form-control" value="{{data['lastname']}}" placeholder="surname"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Mobile Number</label><input name ="mobilenumber" type="text" class="form-control" placeholder="enter phone number" value="{{data['mobile_number']}}"></div>
                            <div class="col-md-12"><label class="labels">Address Line 1</label><input name ="addressline1" type="text" class="form-control" placeholder="enter address line 1" value="{{data['addressline1']}}"></div>
                            <div class="col-md-12"><label class="labels">Address Line 2</label><input name ="addressline2" type="text" class="form-control" placeholder="enter address line 2" value="{{data['addressline2']}}"></div>
                            <div class="col-md-12"><label class="labels">Postcode</label><input name ="postcode" type="text" class="form-control" placeholder="enter address line 2" value="{{data['postcode']}}"></div>
                            <div class="col-md-12"><label class="labels">State</label><input name ="state" type="text" class="form-control" placeholder="enter address line 2" value="{{data['state']}}"></div>
                            <div class="col-md-12"><label class="labels">Area</label><input name ="area" type="text" class="form-control" placeholder="enter address line 2" value="{{data['area']}}"></div>
                            <div class="col-md-12"><label class="labels">Education</label><input name ="education" type="text" class="form-control" placeholder="education" value="{{data['Education']}}"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><label class="labels">Country</label><input name ="country" type="text" class="form-control" placeholder="country" value="{{data['country']}}"></div>
                            
                        </div>
                        <div class="mt-5 text-center"><button type="submit" class="btn btn-primary profile-button" type="button">Save Profile</button></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i><a href="{{url_for('logout')}}">Log out</a></span></div><br>
                        <div class="col-md-12"><label class="labels">Experience in Cloud</label><input name="Experience" type="text" class="form-control" placeholder="experience" value="{{data['Experience']}}"></div> <br>
                        <div class="col-md-12"><label class="labels">Additional Details</label><input name="additional_details" type="text" class="form-control" placeholder="additional details" value="{{data['additional_details']}}"></div>
                    </div>
                </div>
            </form>
            </div>
        </div>
        </div>
        </div>
        <script src="static/js/bootstrap.bundle.min.js"></script>
        <script src="static/js/jquery.min.js"></script>
    </body>
</html>